.singlePage {
    @apply flex flex-col gap-8 min-h-screen p-4;

    .title {

        @apply md:w-3/4 pt-16;
        @apply uppercase text-5xl font-thin;

    }

    .collaboration_row {

        @apply flex items-center flex-wrap;

        .collaboration {
            border-right: 1px solid gray;
            padding: 0 1rem;

            &:last-child {
                border-right: 0;
            }
        }
        
    }

    .description {
        line-height: normal;
    }

    .image {
        width: 30rem;
    }

}