@import "/src/assets/sass/lib/vars";

.Home {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;

    .description {
        
        width: 100%;
        max-width: 900px;

        h2 {
            color: $primary;
            font-weight: 300;
            font-size: 48px;

            @media (max-width:768px) {
                font-size: 28px;
            }          

        }

        .pop {
            font-weight: 400;
            margin: 0 16px;
            
            &::after {
                content: "*";
                font-size: inherit;
                vertical-align: top;
                padding-left: 4px;
            }

            &:hover {

                .pop_box {
                    display: flex;
                }
            
            }
            .pop_box {
                transform: translate(-50%, -50%);
                pointer-events: none;
                display: none;

                flex-wrap: wrap;
                position: fixed;
                width: 250px;
                padding: 8px;
                color: white;
                background-color: black;
                font-size: 16px;
                font-weight: 300;
            }
        }

    }

    .features {
        display: flex;
        height: 100%;
        flex-grow: 1;
        font-size: 32px;
        font-weight: 300;
        color: $point;
    }

}
