.Footer {
    color: white;
    background-color: #212121;
    width: 100%;
    padding: 8px 16px;
    z-index: 20;

    .items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 8px;
        align-items: center;
        width: 100%;
        text-align: center;

        p {
            font-size: 14px;
        }

        .location {
            text-align: start;
        }

        .copyright {
            text-align: center;
        }

        .contacts {
            display: flex;
            justify-content: end;
            font-size: 20px;
        }

        @media (max-width:768px) {
            grid-template-columns: 1fr auto;
            .location, .copyright {
                grid-column: 1 / span 1;
                text-align: start;
            }
            .contacts {
                grid-column: span 1 / -1;
                grid-row: 1 / span 1;
            }
        }
    }
}