@import "/src/assets/sass/lib/vars";

.App {
  
  cursor: none;
  height: 100vh;
  display: flex;
  flex-direction: column;
  
  .pointColor {
    position: fixed;
    z-index: -1;
    background: radial-gradient(circle closest-side, $point, transparent);
    transform: translate(-50%, -50%);
    transition: width 1s ease, height 1s ease;

    display: flex;
    align-items: center;
    justify-content: center;

    .point {
      border-radius: 50%;
      width: 4px;
      height: 4px;
      background-color: black;

    }
  }

  main {
    width: 100%;
    flex-grow: 1;
    padding-bottom: 32px;
  }

}
